:root {
  --pure-background: #1f695c;
  --display-background: #2e2e2e;
  --calculator-background: #404040;
  --primary-num-btn: #e3e3e3;
  --secondary-num-btn: #bfbfbf;
  --primary-teal-btn: #1f2d27;
  --secondary-teal-btn: #101a13;
  --font-output: #ffffff;
  --font-btn: #212529;
  --font-btn-teal: #49e295;
  --primary-equals-btn: #31a38e;
  --secondary-equals-btn: #2a8c7a;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0 auto;
}

.container {
  max-width: 640px;
  margin: 50px;
  background: #fff;
  padding: 60px;
  border-radius: 10px;
}

body {
  background: var(--pure-background);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.wrapper {
  background: var(--calculator-background);
}

.output {
  color: var(--font-output);
  background: var(--display-background);
  height: 150px;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#previous-operand {
  padding-top: 15px;
  margin-right: 15px;
  border: 1px solid cyan;
}

#current-operand {
  border: 1px solid yellow;
  padding: 15px;
  margin: 10px;
  max-height: 50px;
  font-size: 40px;
}

.controls {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 20px 30px 30px;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 1fr);
}

.controls > button {
  cursos: pointer;
  font-size: 20px;
  outline: unset;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  color: var(--font-btn);
  background: var(--primary-num-btn);
}

.controls #btn-sum {
  grid-row: 3 / 5;
  grid-column: 4;
  height: 104px;
}

.controls > button:hover {
  background: var(--secondary-num-btn);
}

.controls .teal {
  background: var(--primary-teal-btn);
  color: var(--font-btn-teal);
}

.controls .teal:hover {
  background: var(--secondary-teal-btn);
}

.controls #btn-equals {
  grid-column: 3 / 5;
  grid-row: 5;
  width: 200px;
  background: var(--primary-equals-btn);
  color: var(--font-btn);
}

#btn-equals:hover {
  background: var(--secondary-equals-btn);
}
